# Assignment

Task 1

2.
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [15]:
for i in range(2000,3201):
    if(i%7==0 and i%5!=0):
        print("{},".format(i),end="")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [47]:
def reverse_name():
    first_name=input("enter first name: ")
    last_name=input("enter last name: ")
    
    print("output: "+first_name[::-1]+" "+last_name[::-1])

In [48]:
reverse_name()

enter first name: manish
enter last name: jaiswal
output: hsinam lawsiaj

4.
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r
3

In [29]:
def Area_of_sphere(diameter):
    radius=diameter/2
    area=(4/3)*3.14*radius**3
    print(area)

In [31]:
Area_of_sphere(12)

904.3199999999999

Task 2

1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [33]:
numbers=input("input some comma-seperated numbers : ")
List=numbers.split(",")
print(List)

input some comma-seperated numbers : 1,2,3,4,5,6,7,8,9
['1', '2', '3', '4', '5', '6', '7', '8', '9']

2.
Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
n=int(input("enter the number"))
for i in range(0,(n*2)):#here i is no. of rows
    if(i<=n): #condition for first 5 rows
        for j in range(0,i):#here j  is no. of coumns
            print("*",end=" ")
    if(i>n):#condition for last 4 rows
        for j in range(i,n*2):
            print("*",end=" ")
    print("\n")

enter the number5


*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

3.
Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [50]:
n=input("enter your string : ")
string=""
for i in n:
    string=i+string
print(string)

enter your string : AcadGild
dliGdacA